<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }}</title>
</head>
<body>
    <h1>Товары в категории: {{ category.name }}</h1>
    <a href="{% url 'index' %}">← Назад к категориям</a>

    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <img src="{{ product.img_link }}" width="200" />
                <p>Цена: {{ product.price }}</p>
                <a href="{{ product.link }}" target="_blank">Открыть</a>
            </li>
        {% empty %}
            <li>Нет товаров в этой категории.</li>
        {% endfor %}
    </ul>
</body>
</html>
